/**
 * @name Swift Dark
 * @description Theme inspired by the Android theme Swift Dark for Substratum
 * @author ceecide
 * @version 1
 * @website https://raw.githubusercontent.com/JonathanRMartinezHernandez/SwiftDarkDiscordTheme/
 * @source https://raw.githubusercontent.com/JonathanRMartinezHernandez/SwiftDarkDiscordTheme/main/SwiftDark.theme.css
 * @updateUrl https://raw.githubusercontent.com/JonathanRMartinezHernandez/SwiftDarkDiscordTheme/main/SwiftDark.theme.css
 * @invite 4WXmhmb
**/

@import url("https://raw.githubusercontent.com/JonathanRMartinezHernandez/theme/main/Font/stylesheet.css");
@import url("https://raw.githubusercontent.com/JonathanRMartinezHernandez/theme/main/main.css");

:root {
    --color-high: rgb(23, 23, 23);
    --color-lowest: rgb(255, 255, 255);
    --color-low: rgb(184, 217, 209);
    --color-mid: rgb(122, 153, 145);
    --color-alert: rgb(229, 0, 77);
    --color-alert-hover: rgb(236, 0, 80);
    --color-high-trans: rgba(23, 23, 23, 0.8);
    --color-low-trans: rgba(184, 217, 209, 0.6);
    --color-alert-trans: rgba(229, 0, 77, 0.7);
    --font: BlenderProBold;
    :root {
  /* set to 'unset' to show */
  --scrollbars: none;
  /* user notes */
  --notes: none;
  /* direct message box */
  --message: none;
  /* set to '4px solid' to show */
  --embed-color: none;
  /* set to 'Inter', sans-serif !important to use Inter font*/
  --font-primary: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-display: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  --border-radius-1: 10px;
  --border-radius-2: 8px;
}

